{% extends 'core/base.html' %}

{% block title %}Бонусная программа: Астрокоины - Алгоритмика{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">
                <i class="fas fa-coins text-warning me-3"></i>
                Бонусная программа: Астрокоины
            </h1>
            
            <div class="alert alert-warning mb-4">
                <h5><i class="fas fa-star me-2"></i>Что такое Астрокоины?</h5>
                <p class="mb-0">
                    Астрокоины - это внутренняя валюта образовательной платформы, которая мотивирует учеников к активному обучению и хорошим результатам.
                </p>
            </div>

            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card h-100">
                        <div class="card-header bg-success text-white">
                            <h5 class="mb-0">
                                <i class="fas fa-plus me-2"></i>
                                Как заработать Астрокоины
                            </h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li class="mb-2"><i class="fas fa-check text-success me-2"></i>Активная работа на уроке</li>
                                <li class="mb-2"><i class="fas fa-check text-success me-2"></i>Выполнение домашних заданий</li>
                                <li class="mb-2"><i class="fas fa-check text-success me-2"></i>Участие в проектах</li>
                                <li class="mb-2"><i class="fas fa-check text-success me-2"></i>Помощь одноклассникам</li>
                                <li class="mb-2"><i class="fas fa-check text-success me-2"></i>Участие в соревнованиях</li>
                                <li class="mb-0"><i class="fas fa-check text-success me-2"></i>Отличная посещаемость</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-4">
                    <div class="card h-100">
                        <div class="card-header bg-info text-white">
                            <h5 class="mb-0">
                                <i class="fas fa-shopping-cart me-2"></i>
                                Как потратить Астрокоины
                            </h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li class="mb-2"><i class="fas fa-gift text-info me-2"></i>Виртуальные награды</li>
                                <li class="mb-2"><i class="fas fa-gift text-info me-2"></i>Игровые предметы</li>
                                <li class="mb-2"><i class="fas fa-gift text-info me-2"></i>Специальные достижения</li>
                                <li class="mb-2"><i class="fas fa-gift text-info me-2"></i>Дополнительные привилегии</li>
                                <li class="mb-0"><i class="fas fa-exchange-alt text-info me-2"></i>Перевод другим ученикам</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header bg-warning text-dark">
                    <h5 class="mb-0">
                        <i class="fas fa-rules me-2"></i>
                        Правила системы
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Переводы между учениками:</h6>
                            <ul>
                                <li>Минимальная сумма перевода: 20 AC</li>
                                <li>Комиссия за перевод: 5%</li>
                                <li>Переводы доступны только ученикам</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h6>Награды от преподавателей:</h6>
                            <ul>
                                <li>Без комиссии и ограничений</li>
                                <li>Могут начислять учителя и администраторы</li>
                                <li>Различные шаблоны наград</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">
                        <i class="fas fa-chart-line me-2"></i>
                        Система мотивации
                    </h5>
                </div>
                <div class="card-body">
                    <p>
                        Астрокоины помогают создать позитивную образовательную среду, где ученики:
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-center">
                                <i class="fas fa-trophy fa-3x text-warning mb-2"></i>
                                <h6>Стремятся к успеху</h6>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <i class="fas fa-users fa-3x text-info mb-2"></i>
                                <h6>Помогают друг другу</h6>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <i class="fas fa-graduation-cap fa-3x text-success mb-2"></i>
                                <h6>Развивают навыки</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-info">
                <h5><i class="fas fa-envelope me-2"></i>Вопросы по программе</h5>
                <p class="mb-0">
                    Если у вас есть вопросы о работе системы Астрокоинов, напишите нам: 
                    <a href="mailto:reply@algoritmika25.store">reply@algoritmika25.store</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}