{% extends 'core/base.html' %}

{% block title %}База знаний - AstroCoins{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">База знаний</h5>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h5 class="mb-1">Что такое AstroCoins?</h5>
                            <p class="mb-1">AstroCoins - это внутренняя валюта платформы, которую можно использовать для покупок в магазине и обмена между пользователями.</p>
                        </div>
                        <div class="list-group-item">
                            <h5 class="mb-1">Как получить AstroCoins?</h5>
                            <p class="mb-1">AstroCoins можно получить за активность на платформе, выполнение заданий или в качестве бонусов от администрации.</p>
                        </div>
                        <div class="list-group-item">
                            <h5 class="mb-1">Правила использования</h5>
                            <p class="mb-1">
                                - Запрещена продажа AstroCoins за реальные деньги<br>
                                - Запрещено использование ботов и автоматизации<br>
                                - Запрещена передача AstroCoins между аккаунтами одного пользователя
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}